[submodule "modules/srwi"]
	path = modules/srwi
	url = https://github.com/srwi/qmk-modules.git
[submodule "modules/qmk_userspace_private"]
	path = modules/qmk_userspace_private
	url = https://github.com/dan-dr/qmk_userspace_private.git
	branch = ddyo
