[submodule "modules/bastardkb"]
	path = modules/bastardkb
	url = https://github.com/dan-dr/qmk_modules.git
[submodule "modules/srwi"]
	path = modules/srwi
	url = https://github.com/srwi/qmk-modules.git
